.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;

  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 33px;
}
