.cover {
  display: block;
  background-image: url("../../images/cover-trains.jpg");
  margin: 0;
  padding: 0;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 92px;
  height: 740px;
  text-decoration: none;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(1184 / 1280 * 100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover {
    width: calc(1184 / 1280 * 100%);
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
