.intro__title {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

@media screen and (min-width: 425px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
